<?xml version="1.0" encoding="UTF-8"?>
<suite name="all Suite" parallel="false" verbose="1">
    <test name="all Test">
        <parameter name="p1" value="1011111" />
        <parameter name="p2" value="10" />
        <classes>
            <class name="Basic"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
